name: Deploy Javadoc

on:
  push:
    branches:
      - master

jobs:
  build-and-publish-javadoc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build Javadocs with Gradle
        run: ./gradlew javadoc

      - name: Deploy to Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: build/docs/javadoc
